/*--- This is my css page.   ---*/
body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
  }

h2 {
    font-weight: 350;
}

p {
    font-weight: 300;
}

/*--- formatting header ---*/

header {
    background-color: #eaeaea;
    padding: .25rem 2vw;
}

header h1 {
    font-size: 50px;
}

/*--- formatting navigation ---*/

nav {
    background-color: #72C674;
}

nav ul { 
list-style-type: none;
padding: 0 2vw;
margin: 0;
display: flex;
} 

nav a{
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a{
    background-color:#005F3F;
    color: #72C674
}

nav a:hover{
    color: white;
}

/*--- formatting main ---*/

main {
    padding: 1rem 2vw;
}

main h1 {
    color: #0078A0;
}

main h2 {
    color: #005F3F;
}

main p {
    font-size: 18px;
}

main ul {
    list-style-type: square;
}

main ul li{
    margin-bottom: .5rem;
    padding: .75rem;
}

main ol {
    padding: .3rem 3vw;
    background-color: #efefef;
    margin: .75rem;
}

main dl dt{
    color: #005F3F;
    font-weight: 700;
    margin: .75rem;
}

main dl dd{
    font-size: .9rem;
    padding-top: .5rem;
    padding-bottom: .1rem;
}

hr {
    clear: both;
    margin-top: 100px;
}
address{
    font-style:normal;
    background-color:#72C674;
    padding: .5rem;
    width: 12rem;
    border: 2px solid #005F3F;
    border-radius: .8rem;
}

.introlearn {
    font-size: 1.5rem;
}
/*--- formatting footer ---*/

footer {
    background-color: #eaeaea;
    text-align: center;
    color: #024873;
    padding: 1rem 0;
    clear: both;
}

footer a{
    color: #024873;
}

/*--- formatting images ---*/


figure.home {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.home img {
    width: 100%;
    height: auto;
}

figure.home figcaption {
    text-align: center;
    font-size: .75rem;
    margin-bottom: 50px;
}

div.gallery {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 100%;
}

div.gallery figure {
    margin: .5rem 2% 0 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}